openapi: 3.0.3
info:
  contact:
    email: friends@segment.com
    name: Segment
    url: https://docs.segmentapis.com
  description: "The Segment Public API helps you manage your Segment Workspaces and\
    \ its resources. You can use the API to perform CRUD (create, read, update, delete)\
    \ operations at no extra charge. This includes working with resources such as\
    \ Sources, Destinations, Warehouses, Tracking Plans, and the Segment Destinations\
    \ and Sources Catalogs.\n\nAll CRUD endpoints in the API follow REST conventions\
    \ and use standard HTTP methods. Different URL endpoints represent different resources\
    \ in a Workspace.\n\nSee the next sections for more information on how to use\
    \ the Segment Public API.\n"
  title: Segment Public API
  version: 32.0.5
  x-logo:
    url: https://brand.segment.com/site-assets/images/brand-guidelines/content/twilio/twilio-segment-logo.png
    backgroundColor: '#ebf4ff'
    altText: Twilio Segment logo
servers:
- description: Production
  url: https://api.segmentapis.com
- description: Staging
  url: https://api.segmentapis.build
security:
- token: []
tags:
- description: Operations related to Warehouses
  name: Warehouses
- description: Operations related to Sources
  name: Sources
- description: Operations related to IAM Users
  name: IAM Users
- description: Operations related to IAM Groups
  name: IAM Groups
- description: Operations related to Tracking Plans
  name: Tracking Plans
- description: Operations related to Spaces
  name: Spaces
- description: Operations related to Deletion and Suppression
  name: Deletion and Suppression
- description: Operations related to Destinations
  name: Destinations
- description: Operations related to Edge Functions
  name: Edge Functions
- description: Operations related to Destination Filters
  name: Destination Filters
- description: Operations related to Functions
  name: Functions
- description: Operations related to Labels
  name: Labels
- description: Operations related to Transformations
  name: Transformations
- description: Operations related to Testing
  name: Testing
- description: Operations related to Selective Sync
  name: Selective Sync
- description: Operations related to API Calls
  name: API Calls
- description: Operations related to Monthly Tracked Users
  name: Monthly Tracked Users
- description: Operations related to Catalog
  name: Catalog
- description: Operations related to Events
  name: Events
- description: Operations related to Workspaces
  name: Workspaces
- description: Operations related to Audit Trail
  name: Audit Trail
- description: Operations related to IAM Roles
  name: IAM Roles
paths:
  /warehouses/{warehouseId}/connected-sources/{sourceId}:
    delete:
      deprecated: false
      description: Disconnects a Source from a Warehouse.
      operationId: removeSourceConnectionFromWarehouse
      parameters:
      - explode: false
        in: path
        name: warehouseId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      - explode: false
        in: path
        name: sourceId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceConnectionFromWarehouse_200_response'
            application/json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceConnectionFromWarehouse_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceConnectionFromWarehouse_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceConnectionFromWarehouse_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Remove Source Connection from Warehouse
      tags:
      - Warehouses
      x-domain-hierarchy:
      - Connections
      - Warehouses
      x-accepts: application/json
    post:
      deprecated: false
      description: "Connects a Source to a Warehouse.\n\n\n\nWhen called, this endpoint\
        \ may generate the `Storage Destination Modified` [Audit Trail](/tag/Audit-Trail)\
        \ event.\n      "
      operationId: addConnectionFromSourceToWarehouse
      parameters:
      - explode: false
        in: path
        name: warehouseId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      - explode: false
        in: path
        name: sourceId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  status: CONNECTED
              schema:
                $ref: '#/components/schemas/addConnectionFromSourceToWarehouse_200_response'
            application/json:
              example:
                data:
                  status: CONNECTED
              schema:
                $ref: '#/components/schemas/addConnectionFromSourceToWarehouse_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  status: CONNECTED
              schema:
                $ref: '#/components/schemas/addConnectionFromSourceToWarehouse_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  status: CONNECTED
              schema:
                $ref: '#/components/schemas/addConnectionFromSourceToWarehouse_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Add Connection from Source to Warehouse
      tags:
      - Warehouses
      x-domain-hierarchy:
      - Connections
      - Warehouses
      x-accepts: application/json
  /sources/{sourceId}/labels:
    post:
      deprecated: false
      description: "Adds an existing label to a Source.\n\n\n\nWhen called, this endpoint\
        \ may generate the `Source Modified` [Audit Trail](/tag/Audit-Trail) event.\n\
        \      "
      operationId: addLabelsToSource
      parameters:
      - explode: false
        in: path
        name: sourceId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              labels:
              - key: type
                value: web
            schema:
              $ref: '#/components/schemas/AddLabelsToSourceV1Input'
          application/vnd.segment.v1beta+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              labels:
              - key: type
                value: web
            schema:
              $ref: '#/components/schemas/AddLabelsToSourceV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              labels:
              - key: type
                value: web
            schema:
              $ref: '#/components/schemas/AddLabelsToSourceAlphaInput'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  labels:
                  - key: type
                    value: web
                  - key: environment
                    value: prod
              schema:
                $ref: '#/components/schemas/addLabelsToSource_200_response'
            application/json:
              example:
                data:
                  labels:
                  - key: type
                    value: web
                  - key: environment
                    value: prod
              schema:
                $ref: '#/components/schemas/addLabelsToSource_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  labels:
                  - key: type
                    value: web
                  - key: environment
                    value: prod
              schema:
                $ref: '#/components/schemas/addLabelsToSource_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  labels:
                  - key: type
                    value: web
              schema:
                $ref: '#/components/schemas/addLabelsToSource_200_response_1'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Add Labels to Source
      tags:
      - Sources
      x-domain-hierarchy:
      - Connections
      - Sources
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
    put:
      deprecated: false
      description: Replaces all labels in a Source.
      operationId: replaceLabelsInSource
      parameters:
      - explode: false
        in: path
        name: sourceId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              labels:
              - key: environment
                value: prod
            schema:
              $ref: '#/components/schemas/ReplaceLabelsInSourceV1Input'
          application/vnd.segment.v1beta+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              labels:
              - key: environment
                value: prod
            schema:
              $ref: '#/components/schemas/ReplaceLabelsInSourceV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              labels:
              - key: environment
                value: prod
            schema:
              $ref: '#/components/schemas/ReplaceLabelsInSourceAlphaInput'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  labels:
                  - key: environment
                    value: prod
              schema:
                $ref: '#/components/schemas/replaceLabelsInSource_200_response'
            application/json:
              example:
                data:
                  labels:
                  - key: environment
                    value: prod
              schema:
                $ref: '#/components/schemas/replaceLabelsInSource_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  labels:
                  - key: environment
                    value: prod
              schema:
                $ref: '#/components/schemas/replaceLabelsInSource_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  labels:
                  - key: environment
                    value: prod
              schema:
                $ref: '#/components/schemas/replaceLabelsInSource_200_response_1'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Replace Labels in Source
      tags:
      - Sources
      x-domain-hierarchy:
      - Connections
      - Sources
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
  /users/{userId}/permissions:
    post:
      deprecated: false
      description: "Adds a list of access permissions to a user.\n\nWhen called, this\
        \ endpoint may generate one or more of the following [Audit Trail](/tag/Audit-Trail)\
        \ events:\n* Policy Created\n* User Policy Updated\n      \n\n\nThe rate limit\
        \ for this endpoint is 60 requests per minute, which is lower than the default\
        \ due to access pattern restrictions. Once reached, this endpoint will respond\
        \ with the 429 HTTP status code with headers indicating the limit parameters.\
        \ See [Rate Limiting](/#tag/Rate-Limits) for more information."
      operationId: addPermissionsToUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              userId: sgJDWk3K21k6LE3tLU9nRK
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/AddPermissionsToUserV1Input'
          application/vnd.segment.v1beta+json:
            example:
              userId: sgJDWk3K21k6LE3tLU9nRK
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/AddPermissionsToUserV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              userId: sgJDWk3K21k6LE3tLU9nRK
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/AddPermissionsToUserV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  permissions:
                  - policyId: 2DrXp6Tx3Lcba6CvSqnwyiX5SDH
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: sgJDWk3K21k6LE3tLU9nRK
                    subjectType: user
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUser_200_response'
            application/json:
              example:
                data:
                  permissions:
                  - policyId: 2DrXp6Tx3Lcba6CvSqnwyiX5SDH
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: sgJDWk3K21k6LE3tLU9nRK
                    subjectType: user
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUser_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  permissions:
                  - policyId: 2DrXoOPQa1eaYu1fjfmYT2A3n1g
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: sgJDWk3K21k6LE3tLU9nRK
                    subjectType: user
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUser_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  permissions:
                  - policyId: 2Qyqtmy96fq1iV81Ax6W9f
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: sgJDWk3K21k6LE3tLU9nRK
                    subjectType: user
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUser_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Add Permissions to User
      tags:
      - IAM Users
      x-domain-hierarchy:
      - Admin
      - IAM Users
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
    put:
      deprecated: false
      description: "Updates the list of access permissions for a user.\n\n\n\nWhen\
        \ called, this endpoint may generate the `Policy Deleted` [Audit Trail](/tag/Audit-Trail)\
        \ event.\n      \n\n\nThe rate limit for this endpoint is 60 requests per\
        \ minute, which is lower than the default due to access pattern restrictions.\
        \ Once reached, this endpoint will respond with the 429 HTTP status code with\
        \ headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits)\
        \ for more information."
      operationId: replacePermissionsForUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              userId: sgJDWk3K21k6LE3tLU9nRK
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/ReplacePermissionsForUserV1Input'
          application/vnd.segment.v1beta+json:
            example:
              userId: sgJDWk3K21k6LE3tLU9nRK
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/ReplacePermissionsForUserV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              userId: sgJDWk3K21k6LE3tLU9nRK
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/ReplacePermissionsForUserV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUser_200_response'
            application/json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUser_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUser_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUser_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Replace Permissions for User
      tags:
      - IAM Users
      x-domain-hierarchy:
      - Admin
      - IAM Users
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
  /groups/{userGroupId}/permissions:
    post:
      deprecated: false
      description: "Adds a list of access permissions to a user group.\n\nWhen called,\
        \ this endpoint may generate one or more of the following [Audit Trail](/tag/Audit-Trail)\
        \ events:\n* Policy Created\n* User Group Policy Updated\n      \n\n\nThe\
        \ rate limit for this endpoint is 60 requests per minute, which is lower than\
        \ the default due to access pattern restrictions. Once reached, this endpoint\
        \ will respond with the 429 HTTP status code with headers indicating the limit\
        \ parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information."
      operationId: addPermissionsToUserGroup
      parameters:
      - explode: false
        in: path
        name: userGroupId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/AddPermissionsToUserGroupV1Input'
          application/vnd.segment.v1beta+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/AddPermissionsToUserGroupV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/AddPermissionsToUserGroupV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  permissions:
                  - policyId: 2DrXqK6YSJGtQs9PJHcMSneAWIZ
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: bBABwqbaDf2QdwTbW8bNEm
                    subjectType: group
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUserGroup_200_response'
            application/json:
              example:
                data:
                  permissions:
                  - policyId: 2DrXqK6YSJGtQs9PJHcMSneAWIZ
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: bBABwqbaDf2QdwTbW8bNEm
                    subjectType: group
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUserGroup_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  permissions:
                  - policyId: 2DrXpCP88iCLEsmGa9SSrei1C6o
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: bBABwqbaDf2QdwTbW8bNEm
                    subjectType: group
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUserGroup_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  permissions:
                  - policyId: 2DrXoTM7Kxb1rCTZhRko40oN8e0
                    roleName: Workspace Owner
                    roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    subjectId: bBABwqbaDf2QdwTbW8bNEm
                    subjectType: group
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/addPermissionsToUserGroup_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Add Permissions to User Group
      tags:
      - IAM Groups
      x-domain-hierarchy:
      - Admin
      - IAM Groups
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
    put:
      deprecated: false
      description: "Updates the list of access permissions for a user group.\n\n\n\
        \nWhen called, this endpoint may generate the `Policy Deleted` [Audit Trail](/tag/Audit-Trail)\
        \ event.\n      \n\n\nThe rate limit for this endpoint is 60 requests per\
        \ minute, which is lower than the default due to access pattern restrictions.\
        \ Once reached, this endpoint will respond with the 429 HTTP status code with\
        \ headers indicating the limit parameters. See [Rate Limiting](/#tag/Rate-Limits)\
        \ for more information."
      operationId: replacePermissionsForUserGroup
      parameters:
      - explode: false
        in: path
        name: userGroupId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/ReplacePermissionsForUserGroupV1Input'
          application/vnd.segment.v1beta+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/ReplacePermissionsForUserGroupV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              permissions:
              - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                resources:
                - id: 9aQ1Lj62S4bomZKLF4DPqW
                  type: WORKSPACE
            schema:
              $ref: '#/components/schemas/ReplacePermissionsForUserGroupV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUserGroup_200_response'
            application/json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUserGroup_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUserGroup_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  permissions:
                  - roleId: 1WDUuRLxv84rrfCNUwvkrRtkxnS
                    roleName: Workspace Owner
                    resources:
                    - id: 9aQ1Lj62S4bomZKLF4DPqW
                      type: WORKSPACE
                      labels: []
              schema:
                $ref: '#/components/schemas/replacePermissionsForUserGroup_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Replace Permissions for User Group
      tags:
      - IAM Groups
      x-domain-hierarchy:
      - Admin
      - IAM Groups
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
  /tracking-plans/{trackingPlanId}/sources:
    delete:
      deprecated: false
      description: "Disconnects a Source from a Tracking Plan.\n\n\n\nWhen called,\
        \ this endpoint may generate the `Source Modified` [Audit Trail](/tag/Audit-Trail)\
        \ event.\n**Note**: In order to successfully call this endpoint, the specified\
        \ Workspace needs to have the Protocols feature enabled. Please reach out\
        \ to your customer success manager for more information."
      operationId: removeSourceFromTrackingPlan
      parameters:
      - explode: false
        in: path
        name: trackingPlanId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      - description: "The id of the Source associated with the Tracking Plan.\n\n\
          Config API note: analogous to `sourceName`.\n\nThis parameter exists in\
          \ v1."
        explode: false
        in: query
        name: sourceId
        required: true
        schema:
          description: "The id of the Source associated with the Tracking Plan.\n\n\
            Config API note: analogous to `sourceName`."
          title: sourceId
          type: string
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceFromTrackingPlan_200_response'
            application/json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceFromTrackingPlan_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceFromTrackingPlan_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/removeSourceFromTrackingPlan_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Remove Source from Tracking Plan
      tags:
      - Tracking Plans
      x-domain-hierarchy:
      - Protocols
      - Tracking Plans
      x-accepts: application/json
    get:
      deprecated: false
      description: "Lists Sources connected to a Tracking Plan.\n\n**Note**: In order\
        \ to successfully call this endpoint, the specified Workspace needs to have\
        \ the Protocols feature enabled. Please reach out to your customer success\
        \ manager for more information.\n\n\nThis endpoint requires the user to have\
        \ at least the following permission(s): \n * Source Read-only\n * Tracking\
        \ Plan Read-only"
      operationId: listSourcesFromTrackingPlan
      parameters:
      - explode: false
        in: path
        name: trackingPlanId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      - description: |-
          Pagination options.

          This parameter exists in v1.
        explode: false
        in: query
        name: pagination
        required: true
        schema:
          $ref: '#/components/schemas/PaginationInput'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  sources:
                  - id: qQEHquLrjRDN9j1ByrChyn
                    slug: ios
                    name: ""
                    workspaceId: 9aQ1Lj62S4bomZKLF4DPqW
                    enabled: true
                    writeKeys:
                    - 3YdEudTwjouyC5WPjpbTik
                    metadata:
                      id: UBrsG9RVzw
                      slug: ios
                      name: iOS
                      categories:
                      - Mobile
                      description: ""
                      logos:
                        default: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                        alt: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                      options: []
                      isCloudEventSource: false
                    settings: {}
                    labels: []
                  pagination:
                    current: MA==
                    totalEntries: 1
              schema:
                $ref: '#/components/schemas/listSourcesFromTrackingPlan_200_response'
            application/json:
              example:
                data:
                  sources:
                  - id: qQEHquLrjRDN9j1ByrChyn
                    slug: ios
                    name: ""
                    workspaceId: 9aQ1Lj62S4bomZKLF4DPqW
                    enabled: true
                    writeKeys:
                    - 3YdEudTwjouyC5WPjpbTik
                    metadata:
                      id: UBrsG9RVzw
                      slug: ios
                      name: iOS
                      categories:
                      - Mobile
                      description: ""
                      logos:
                        default: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                        alt: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                      options: []
                      isCloudEventSource: false
                    settings: {}
                    labels: []
                  pagination:
                    current: MA==
                    totalEntries: 1
              schema:
                $ref: '#/components/schemas/listSourcesFromTrackingPlan_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  sources:
                  - id: qQEHquLrjRDN9j1ByrChyn
                    slug: ios
                    name: ""
                    workspaceId: 9aQ1Lj62S4bomZKLF4DPqW
                    enabled: true
                    writeKeys:
                    - 3YdEudTwjouyC5WPjpbTik
                    metadata:
                      id: UBrsG9RVzw
                      slug: ios
                      name: iOS
                      categories:
                      - Mobile
                      description: ""
                      logos:
                        default: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                        alt: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                      options: []
                      isCloudEventSource: false
                    settings: {}
                    labels: []
                  pagination:
                    current: MA==
                    totalEntries: 1
              schema:
                $ref: '#/components/schemas/listSourcesFromTrackingPlan_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  sources:
                  - id: qQEHquLrjRDN9j1ByrChyn
                    slug: ios
                    name: ""
                    workspaceId: 9aQ1Lj62S4bomZKLF4DPqW
                    enabled: true
                    writeKeys:
                    - 3YdEudTwjouyC5WPjpbTik
                    metadata:
                      id: UBrsG9RVzw
                      slug: ios
                      name: iOS
                      categories:
                      - Mobile
                      description: ""
                      logos:
                        default: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                        alt: https://cdn.filepicker.io/api/file/qWgSP5cpS7eeW2voq13u
                      options: []
                      isCloudEventSource: false
                    settings: {}
                    labels: []
                  pagination:
                    current: MA==
                    totalEntries: 1
              schema:
                $ref: '#/components/schemas/listSourcesFromTrackingPlan_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: List Sources from Tracking Plan
      tags:
      - Tracking Plans
      x-domain-hierarchy:
      - Protocols
      - Tracking Plans
      x-accepts: application/json
    post:
      deprecated: false
      description: "Connects a Source to a Tracking Plan.\n\n\n\nWhen called, this\
        \ endpoint may generate the `Source Modified` [Audit Trail](/tag/Audit-Trail)\
        \ event.\n**Note**: In order to successfully call this endpoint, the specified\
        \ Workspace needs to have the Protocols feature enabled. Please reach out\
        \ to your customer success manager for more information."
      operationId: addSourceToTrackingPlan
      parameters:
      - explode: false
        in: path
        name: trackingPlanId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              trackingPlanId: tp_sprout_rVGCC6WdrNxjCf6JpCHP
              sourceId: qQEHquLrjRDN9j1ByrChyn
            schema:
              $ref: '#/components/schemas/AddSourceToTrackingPlanV1Input'
          application/vnd.segment.v1beta+json:
            example:
              trackingPlanId: tp_sprout_rVGCC6WdrNxjCf6JpCHP
              sourceId: qQEHquLrjRDN9j1ByrChyn
            schema:
              $ref: '#/components/schemas/AddSourceToTrackingPlanV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              trackingPlanId: tp_sprout_rVGCC6WdrNxjCf6JpCHP
              sourceId: qQEHquLrjRDN9j1ByrChyn
            schema:
              $ref: '#/components/schemas/AddSourceToTrackingPlanV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/addSourceToTrackingPlan_200_response'
            application/json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/addSourceToTrackingPlan_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/addSourceToTrackingPlan_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  status: SUCCESS
              schema:
                $ref: '#/components/schemas/addSourceToTrackingPlan_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Add Source to Tracking Plan
      tags:
      - Tracking Plans
      x-domain-hierarchy:
      - Protocols
      - Tracking Plans
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
  /groups/{userGroupId}/users:
    get:
      deprecated: false
      description: Returns users belonging to a user group.
      operationId: listUsersFromUserGroup
      parameters:
      - explode: false
        in: path
        name: userGroupId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      - description: |-
          Pagination for members of a group.

          This parameter exists in v1.
        explode: false
        in: query
        name: pagination
        required: true
        schema:
          $ref: '#/components/schemas/PaginationInput'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  users: []
                  pagination:
                    current: MA==
                    totalEntries: 0
              schema:
                $ref: '#/components/schemas/listUsersFromUserGroup_200_response'
            application/json:
              example:
                data:
                  users: []
                  pagination:
                    current: MA==
                    totalEntries: 0
              schema:
                $ref: '#/components/schemas/listUsersFromUserGroup_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  users: []
                  pagination:
                    current: MA==
                    totalEntries: 0
              schema:
                $ref: '#/components/schemas/listUsersFromUserGroup_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  users:
                  - id: sgJDWk3K21k6LE3tLU9nRK
                    email: papi@segment.com
                    name: ""
                  pagination:
                    current: MA==
                    totalEntries: 1
              schema:
                $ref: '#/components/schemas/listUsersFromUserGroup_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: List Users from User Group
      tags:
      - IAM Groups
      x-domain-hierarchy:
      - Admin
      - IAM Groups
      x-accepts: application/json
    post:
      deprecated: false
      description: "Adds a list of users or invites to a user group.\n\nWhen called,\
        \ this endpoint may generate one or more of the following [Audit Trail](/tag/Audit-Trail)\
        \ events:\n* Subjects Added to Group\n* User Added To User Group\n      \n\
        \n\nThe rate limit for this endpoint is 60 requests per minute, which is lower\
        \ than the default due to access pattern restrictions. Once reached, this\
        \ endpoint will respond with the 429 HTTP status code with headers indicating\
        \ the limit parameters. See [Rate Limiting](/#tag/Rate-Limits) for more information."
      operationId: addUsersToUserGroup
      parameters:
      - explode: false
        in: path
        name: userGroupId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              emails:
              - foo@example.com
            schema:
              $ref: '#/components/schemas/AddUsersToUserGroupV1Input'
          application/vnd.segment.v1beta+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              emails:
              - foo@example.com
            schema:
              $ref: '#/components/schemas/AddUsersToUserGroupV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              userGroupId: bBABwqbaDf2QdwTbW8bNEm
              emails:
              - foo@example.com
            schema:
              $ref: '#/components/schemas/AddUsersToUserGroupV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  userGroup:
                    id: bBABwqbaDf2QdwTbW8bNEm
                    name: PAPI Example Group
                    memberCount: 1
              schema:
                $ref: '#/components/schemas/addUsersToUserGroup_200_response'
            application/json:
              example:
                data:
                  userGroup:
                    id: bBABwqbaDf2QdwTbW8bNEm
                    name: PAPI Example Group
                    memberCount: 1
              schema:
                $ref: '#/components/schemas/addUsersToUserGroup_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  userGroup:
                    id: bBABwqbaDf2QdwTbW8bNEm
                    name: PAPI Example Group
                    memberCount: 1
              schema:
                $ref: '#/components/schemas/addUsersToUserGroup_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  userGroup:
                    id: bBABwqbaDf2QdwTbW8bNEm
                    name: PAPI Example Group
                    memberCount: 2
              schema:
                $ref: '#/components/schemas/addUsersToUserGroup_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Add Users to User Group
      tags:
      - IAM Groups
      x-domain-hierarchy:
      - Admin
      - IAM Groups
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
  /spaces/{spaceId}/messaging-subscriptions/batch:
    post:
      deprecated: false
      description: Get Messaging Subscriptions for space.
      operationId: batchQueryMessagingSubscriptionsForSpace
      parameters:
      - explode: false
        in: path
        name: spaceId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1alpha+json:
            example:
              spaceId: 9aQ1Lj62S4bomZKLF4DPqW
              subscriptions:
              - key: test@email.com
                type: EMAIL
              - key: pgibbonsexample.com
                type: EMAIL
              - key: +12162226233
                type: SMS
              - key: "11"
                type: SMS
            schema:
              $ref: '#/components/schemas/BatchQueryMessagingSubscriptionsForSpaceAlphaInput'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  successes:
                  - key: jacob@exmple.com
                    type: EMAIL
                    status: SUBSCRIBED
                  - key: "2162226233"
                    type: SMS
                    status: DID_NOT_SUBSCRIBE
                  failures:
                  - key: pgibbonsexample.com
                    type: EMAIL
                    errors:
                    - code: INVALID_EMAIL
                      message: Email is not valid
              schema:
                $ref: '#/components/schemas/batchQueryMessagingSubscriptionsForSpace_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Batch Query Messaging Subscriptions for Space
      tags:
      - Spaces
      x-domain-hierarchy:
      - Engage
      - Spaces
      x-content-type: application/vnd.segment.v1alpha+json
      x-accepts: application/json
  /regulations/cloudsources/{sourceId}:
    post:
      deprecated: false
      description: "Creates a Source-scoped regulation.\n\n      Config API omitted\
        \ fields:\n- `attributes`,\n- `userAgent`\n      "
      operationId: createCloudSourceRegulation
      parameters:
      - explode: false
        in: path
        name: sourceId
        required: true
        schema:
          maximum: 255
          minimum: 1
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              regulationType: SUPPRESS_ONLY
              subjectType: OBJECT_ID
              subjectIds:
              - test_object_id
              sourceId: qQEHquLrjRDN9j1ByrChyn
              collection: some-app-collection
            schema:
              $ref: '#/components/schemas/CreateCloudSourceRegulationV1Input'
          application/vnd.segment.v1beta+json:
            example:
              regulationType: SUPPRESS_ONLY
              subjectType: OBJECT_ID
              subjectIds:
              - test_object_id
              sourceId: qQEHquLrjRDN9j1ByrChyn
              collection: some-app-collection
            schema:
              $ref: '#/components/schemas/CreateCloudSourceRegulationV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              regulationType: SUPPRESS_ONLY
              subjectType: OBJECT_ID
              subjectIds:
              - test_object_id
              sourceId: qQEHquLrjRDN9j1ByrChyn
              collection: some-app-collection
            schema:
              $ref: '#/components/schemas/CreateCloudSourceRegulationV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  regulateId: 1qJkfE1tpwvQcklImGksLN629wn
              schema:
                $ref: '#/components/schemas/createCloudSourceRegulation_200_response'
            application/json:
              example:
                data:
                  regulateId: 1qJkfE1tpwvQcklImGksLN629wn
              schema:
                $ref: '#/components/schemas/createCloudSourceRegulation_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  regulateId: 1qJkfE1tpwvQcklImGksLN629wn
              schema:
                $ref: '#/components/schemas/createCloudSourceRegulation_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  regulateId: 1qJkfE1tpwvQcklImGksLN629wn
              schema:
                $ref: '#/components/schemas/createCloudSourceRegulation_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: Create Cloud Source Regulation
      tags:
      - Deletion and Suppression
      x-domain-hierarchy:
      - Connections
      - Deletion and Suppression
      x-content-type: application/vnd.segment.v1+json
      x-accepts: application/json
  /destinations:
    get:
      deprecated: false
      description: Returns a list of Destinations.
      operationId: listDestinations
      parameters:
      - description: |-
          Required pagination params for the request.

          This parameter exists in v1.
        explode: false
        in: query
        name: pagination
        required: true
        schema:
          $ref: '#/components/schemas/PaginationInput'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  destinations:
                  - id: 5GFhvtz8fha42Cm4B9E6L8
                    enabled: true
                    name: ""
                    settings:
                      region: us-west
                      roleAddress: arn::...
                      secretId: secrettt
                      stream: bla
                    metadata:
                      id: 57da359580412f644ff33fb9
                      name: Amazon Kinesis
                      description: "Amazon Kinesis Streams enables you to build custom\
                        \ applications that process or analyze streaming data for\
                        \ specialized needs. Amazon Kinesis Streams can continuously\
                        \ capture and store terabytes of data per hour from hundreds\
                        \ of thousands of sources such as website clickstreams, financial\
                        \ transactions, social media feeds, IT logs, and location-tracking\
                        \ events."
                      slug: amazon-kinesis
                      logos:
                        default: https://cdn.filepicker.io/api/file/qr7D6jkLQvd1KAJlY8Zp
                        mark: https://cdn.filepicker.io/api/file/zLZbfcBeSZTfX4CsgBvA
                      options:
                      - name: region
                        type: string
                        defaultValue: us-west-2
                        description: The Kinesis Stream's AWS region key
                        required: true
                        label: AWS Kinesis Stream Region
                      - name: roleAddress
                        type: string
                        defaultValue: ""
                        description: "The address of the AWS role that will be writing\
                          \ to Kinesis (ex: arn:aws:iam::874699288871:role/example-role)"
                        required: true
                        label: Role Address
                      - name: secretId
                        type: string
                        defaultValue: '#SEGMENT_WORKSPACE_ID'
                        description: The External ID to your IAM role. This value
                          is read-only. Reach out to support if you wish to change
                          it. This value is also a secret and should be treated as
                          a password.
                        required: true
                        label: Secret ID (Read-Only)
                      - name: stream
                        type: string
                        defaultValue: ""
                        description: The Kinesis Stream Name
                        required: true
                        label: AWS Kinesis Stream Name
                      - name: useMessageId
                        type: boolean
                        defaultValue: false
                        description: "You can enable this option if you want to use\
                          \ the Segment generated `messageId` for the **Partition\
                          \ Key**. If you have issues with too many `provisionedthroughputexceededexceptions`\
                          \ errors, this means that your Segment events are not being\
                          \ evenly distributed across your buckets as you do not have\
                          \ even user event distribution (*default partition key is\
                          \ `userId` or `anonymousId`*). This option should provide\
                          \ much more stable and even distribution."
                        required: false
                        label: Use Segment Message ID
                      status: PUBLIC
                      categories:
                      - Analytics
                      - Raw Data
                      website: https://aws.amazon.com/kinesis/streams/
                      components:
                      - code: https://github.com/segmentio/integrations/tree/master/integrations/amazon-kinesis
                        type: SERVER
                      previousNames:
                      - Amazon Kinesis
                      supportedMethods:
                        track: true
                        pageview: true
                        identify: true
                        group: true
                        alias: true
                      supportedPlatforms:
                        browser: true
                        mobile: true
                        server: true
                      supportedFeatures:
                        cloudModeInstances: "0"
                        deviceModeInstances: "0"
                        replay: true
                        browserUnbundling: false
                        browserUnbundlingPublic: true
                      actions: []
                      presets: []
                    sourceId: rh5BDZp6QDHvXFCkibm1pR
                  pagination:
                    current: MA==
                    next: MQ==
                    totalEntries: 2
              schema:
                $ref: '#/components/schemas/listDestinations_200_response'
            application/json:
              example:
                data:
                  destinations:
                  - id: 5GFhvtz8fha42Cm4B9E6L8
                    enabled: true
                    name: ""
                    settings:
                      region: us-west
                      roleAddress: arn::...
                      secretId: secrettt
                      stream: bla
                    metadata:
                      id: 57da359580412f644ff33fb9
                      name: Amazon Kinesis
                      description: "Amazon Kinesis Streams enables you to build custom\
                        \ applications that process or analyze streaming data for\
                        \ specialized needs. Amazon Kinesis Streams can continuously\
                        \ capture and store terabytes of data per hour from hundreds\
                        \ of thousands of sources such as website clickstreams, financial\
                        \ transactions, social media feeds, IT logs, and location-tracking\
                        \ events."
                      slug: amazon-kinesis
                      logos:
                        default: https://cdn.filepicker.io/api/file/qr7D6jkLQvd1KAJlY8Zp
                        mark: https://cdn.filepicker.io/api/file/zLZbfcBeSZTfX4CsgBvA
                      options:
                      - name: region
                        type: string
                        defaultValue: us-west-2
                        description: The Kinesis Stream's AWS region key
                        required: true
                        label: AWS Kinesis Stream Region
                      - name: roleAddress
                        type: string
                        defaultValue: ""
                        description: "The address of the AWS role that will be writing\
                          \ to Kinesis (ex: arn:aws:iam::874699288871:role/example-role)"
                        required: true
                        label: Role Address
                      - name: secretId
                        type: string
                        defaultValue: '#SEGMENT_WORKSPACE_ID'
                        description: The External ID to your IAM role. This value
                          is read-only. Reach out to support if you wish to change
                          it. This value is also a secret and should be treated as
                          a password.
                        required: true
                        label: Secret ID (Read-Only)
                      - name: stream
                        type: string
                        defaultValue: ""
                        description: The Kinesis Stream Name
                        required: true
                        label: AWS Kinesis Stream Name
                      - name: useMessageId
                        type: boolean
                        defaultValue: false
                        description: "You can enable this option if you want to use\
                          \ the Segment generated `messageId` for the **Partition\
                          \ Key**. If you have issues with too many `provisionedthroughputexceededexceptions`\
                          \ errors, this means that your Segment events are not being\
                          \ evenly distributed across your buckets as you do not have\
                          \ even user event distribution (*default partition key is\
                          \ `userId` or `anonymousId`*). This option should provide\
                          \ much more stable and even distribution."
                        required: false
                        label: Use Segment Message ID
                      status: PUBLIC
                      categories:
                      - Analytics
                      - Raw Data
                      website: https://aws.amazon.com/kinesis/streams/
                      components:
                      - code: https://github.com/segmentio/integrations/tree/master/integrations/amazon-kinesis
                        type: SERVER
                      previousNames:
                      - Amazon Kinesis
                      supportedMethods:
                        track: true
                        pageview: true
                        identify: true
                        group: true
                        alias: true
                      supportedPlatforms:
                        browser: true
                        mobile: true
                        server: true
                      supportedFeatures:
                        cloudModeInstances: "0"
                        deviceModeInstances: "0"
                        replay: true
                        browserUnbundling: false
                        browserUnbundlingPublic: true
                      actions: []
                      presets: []
                    sourceId: rh5BDZp6QDHvXFCkibm1pR
                  pagination:
                    current: MA==
                    next: MQ==
                    totalEntries: 2
              schema:
                $ref: '#/components/schemas/listDestinations_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  destinations:
                  - id: 5GFhvtz8fha42Cm4B9E6L8
                    enabled: true
                    name: ""
                    settings:
                      region: us-west
                      roleAddress: arn::...
                      secretId: secrettt
                      stream: bla
                    metadata:
                      id: 57da359580412f644ff33fb9
                      name: Amazon Kinesis
                      description: "Amazon Kinesis Streams enables you to build custom\
                        \ applications that process or analyze streaming data for\
                        \ specialized needs. Amazon Kinesis Streams can continuously\
                        \ capture and store terabytes of data per hour from hundreds\
                        \ of thousands of sources such as website clickstreams, financial\
                        \ transactions, social media feeds, IT logs, and location-tracking\
                        \ events."
                      slug: amazon-kinesis
                      logos:
                        default: https://cdn.filepicker.io/api/file/qr7D6jkLQvd1KAJlY8Zp
                        mark: https://cdn.filepicker.io/api/file/zLZbfcBeSZTfX4CsgBvA
                      options:
                      - name: region
                        type: string
                        defaultValue: us-west-2
                        description: The Kinesis Stream's AWS region key
                        required: true
                        label: AWS Kinesis Stream Region
                      - name: roleAddress
                        type: string
                        defaultValue: ""
                        description: "The address of the AWS role that will be writing\
                          \ to Kinesis (ex: arn:aws:iam::874699288871:role/example-role)"
                        required: true
                        label: Role Address
                      - name: secretId
                        type: string
                        defaultValue: '#SEGMENT_WORKSPACE_ID'
                        description: The External ID to your IAM role. This value
                          is read-only. Reach out to support if you wish to change
                          it. This value is also a secret and should be treated as
                          a password.
                        required: true
                        label: Secret ID (Read-Only)
                      - name: stream
                        type: string
                        defaultValue: ""
                        description: The Kinesis Stream Name
                        required: true
                        label: AWS Kinesis Stream Name
                      - name: useMessageId
                        type: boolean
                        defaultValue: false
                        description: "You can enable this option if you want to use\
                          \ the Segment generated `messageId` for the **Partition\
                          \ Key**. If you have issues with too many `provisionedthroughputexceededexceptions`\
                          \ errors, this means that your Segment events are not being\
                          \ evenly distributed across your buckets as you do not have\
                          \ even user event distribution (*default partition key is\
                          \ `userId` or `anonymousId`*). This option should provide\
                          \ much more stable and even distribution."
                        required: false
                        label: Use Segment Message ID
                      status: PUBLIC
                      categories:
                      - Analytics
                      - Raw Data
                      website: https://aws.amazon.com/kinesis/streams/
                      components:
                      - code: https://github.com/segmentio/integrations/tree/master/integrations/amazon-kinesis
                        type: SERVER
                      previousNames:
                      - Amazon Kinesis
                      supportedMethods:
                        track: true
                        pageview: true
                        identify: true
                        group: true
                        alias: true
                      supportedPlatforms:
                        browser: true
                        mobile: true
                        server: true
                      supportedFeatures:
                        cloudModeInstances: "0"
                        deviceModeInstances: "0"
                        replay: true
                        browserUnbundling: false
                        browserUnbundlingPublic: true
                      actions: []
                      presets: []
                    sourceId: rh5BDZp6QDHvXFCkibm1pR
                  pagination:
                    current: MA==
                    next: MQ==
                    totalEntries: 2
              schema:
                $ref: '#/components/schemas/listDestinations_200_response'
            application/vnd.segment.v1alpha+json:
              example:
                data:
                  destinations:
                  - id: 5GFhvtz8fha42Cm4B9E6L8
                    enabled: true
                    name: ""
                    settings:
                      region: us-west
                      roleAddress: arn::...
                      secretId: secrettt
                      stream: bla
                    metadata:
                      id: 57da359580412f644ff33fb9
                      name: Amazon Kinesis
                      description: "Amazon Kinesis Streams enables you to build custom\
                        \ applications that process or analyze streaming data for\
                        \ specialized needs. Amazon Kinesis Streams can continuously\
                        \ capture and store terabytes of data per hour from hundreds\
                        \ of thousands of sources such as website clickstreams, financial\
                        \ transactions, social media feeds, IT logs, and location-tracking\
                        \ events."
                      slug: amazon-kinesis
                      logos:
                        default: https://cdn.filepicker.io/api/file/qr7D6jkLQvd1KAJlY8Zp
                        mark: https://cdn.filepicker.io/api/file/zLZbfcBeSZTfX4CsgBvA
                      options:
                      - name: region
                        type: string
                        defaultValue: us-west-2
                        description: The Kinesis Stream's AWS region key
                        required: true
                        label: AWS Kinesis Stream Region
                      - name: roleAddress
                        type: string
                        defaultValue: ""
                        description: "The address of the AWS role that will be writing\
                          \ to Kinesis (ex: arn:aws:iam::874699288871:role/example-role)"
                        required: true
                        label: Role Address
                      - name: secretId
                        type: string
                        defaultValue: '#SEGMENT_WORKSPACE_ID'
                        description: The External ID to your IAM role. This value
                          is read-only. Reach out to support if you wish to change
                          it. This value is also a secret and should be treated as
                          a password.
                        required: true
                        label: Secret ID (Read-Only)
                      - name: stream
                        type: string
                        defaultValue: ""
                        description: The Kinesis Stream Name
                        required: true
                        label: AWS Kinesis Stream Name
                      - name: useMessageId
                        type: boolean
                        defaultValue: false
                        description: "You can enable this option if you want to use\
                          \ the Segment generated `messageId` for the **Partition\
                          \ Key**. If you have issues with too many `provisionedthroughputexceededexceptions`\
                          \ errors, this means that your Segment events are not being\
                          \ evenly distributed across your buckets as you do not have\
                          \ even user event distribution (*default partition key is\
                          \ `userId` or `anonymousId`*). This option should provide\
                          \ much more stable and even distribution."
                        required: false
                        label: Use Segment Message ID
                      status: PUBLIC
                      categories:
                      - Analytics
                      - Raw Data
                      website: https://aws.amazon.com/kinesis/streams/
                      components:
                      - code: https://github.com/segmentio/integrations/tree/master/integrations/amazon-kinesis
                        type: SERVER
                      previousNames:
                      - Amazon Kinesis
                      supportedMethods:
                        track: true
                        pageview: true
                        identify: true
                        group: true
                        alias: true
                      supportedPlatforms:
                        browser: true
                        mobile: true
                        server: true
                      supportedFeatures:
                        cloudModeInstances: "0"
                        deviceModeInstances: "0"
                        replay: true
                        browserUnbundling: false
                        browserUnbundlingPublic: true
                      actions: []
                      presets: []
                    sourceId: rh5BDZp6QDHvXFCkibm1pR
                  pagination:
                    current: MA==
                    next: MQ==
                    totalEntries: 2
              schema:
                $ref: '#/components/schemas/listDestinations_200_response'
          description: OK
        "404":
          content:
            application/json:
              example:
                errors:
                - type: NotFound
                  message: Resource not found
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Resource not found
        "422":
          content:
            application/json:
              example:
                errors:
                - type: ValidationFailure
                  message: Validation failure
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Validation failure
        "429":
          content:
            application/json:
              example:
                errors:
                - type: RateLimited
                  message: Rate limit exceeded
              schema:
                $ref: '#/components/schemas/RequestErrorEnvelope'
          description: Too many requests
      summary: List Destinations
      tags:
      - Destinations
      x-domain-hierarchy:
      - Connections
      - Destinations
      x-accepts: application/json
    post:
      deprecated: false
      description: "Creates a new Destination.\n\n\n\nWhen called, this endpoint may\
        \ generate the `Integration Created` [Audit Trail](/tag/Audit-Trail) event.\n\
        \      "
      operationId: createDestination
      parameters: []
      requestBody:
        content:
          application/vnd.segment.v1+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              metadataId: 547610a5db31d978f14a5c4e
              name: my destination v1
              settings:
                apiKey: XYZ
                retarget: true
            schema:
              $ref: '#/components/schemas/CreateDestinationV1Input'
          application/vnd.segment.v1beta+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              metadataId: 547610a5db31d978f14a5c4e
              name: my destination beta
              settings:
                apiKey: XYZ
                retarget: true
            schema:
              $ref: '#/components/schemas/CreateDestinationV1Input'
          application/vnd.segment.v1alpha+json:
            example:
              sourceId: rh5BDZp6QDHvXFCkibm1pR
              metadataId: 547610a5db31d978f14a5c4e
              name: Example destination
              settings:
                apiKey: XYZ
                retarget: true
            schema:
              $ref: '#/components/schemas/CreateDestinationV1Input'
        required: true
      responses:
        "200":
          content:
            application/vnd.segment.v1+json:
              example:
                data:
                  destination:
                    id: 6307d789e53cc13be4ad0d06
                    enabled: true
                    name: my destination v1
                    settings:
                      apiKey: ••••••••••
                      retarget: true
                    metadata:
                      id: 547610a5db31d978f14a5c4e
                      name: Blueshift
                      description: "Blueshift's predictive marketing automates behavioral\
                        \ messaging on email, push notifications, display, Facebook\
                        \ and more"
                      slug: blueshift
                      logos:
                        default: https://d3hotuclm6if1r.cloudfront.net/logos/Blueshift-default.svg
                        mark: https://cdn.filepicker.io/api/file/Fqsz0q3QPujUyMACLPLr
                      options:
                      - name: apiKey
                        type: string
                        defaultValue: ""
                        description: Your API key can be found in Account Profile
                          > API Keys
                        required: true
                        label: API Key
                      - name: retarget
                        type: boolean
                        defaultValue: false
                        description: This will retarget page calls on the client-side
                        required: true
                        label: Retarget
                      status: PUBLIC
                      categories:
                      - SMS & Push Notifications
                      - Advertising
                      - Email Marketing
                      website: http://getblueshift.com/
                      components:
                      - code: https://github.com/segment-integrations/analytics.js-integration-blueshift
                        type: BROWSER
                      - code: https://github.com/segmentio/integrations/tree/master/integrations/blueshift
                        type: SERVER
                      previousNames:
                      - Blueshift
                      supportedMethods:
                        track: true
                        pageview: true
                        identify: true
                        group: false
                        alias: true
                      supportedPlatforms:
                        browser: true
                        mobile: true
                        server: true
                      supportedFeatures:
                        cloudModeInstances: "0"
                        deviceModeInstances: "0"
                        replay: false
                        browserUnbundling: false
                        browserUnbundlingPublic: true
                      actions: []
                      presets: []
                    sourceId: rh5BDZp6QDHvXFCkibm1pR
              schema:
                $ref: '#/components/schemas/createDestination_200_response'
            application/json:
              example:
                data:
                  destination:
                    id: 6307d789e53cc13be4ad0d06
                    enabled: true
                    name: my destination v1
                    settings:
                      apiKey: ••••••••••
                      retarget: true
                    metadata:
                      id: 547610a5db31d978f14a5c4e
                      name: Blueshift
                      description: "Blueshift's predictive marketing automates behavioral\
                        \ messaging on email, push notifications, display, Facebook\
                        \ and more"
                      slug: blueshift
                      logos:
                        default: https://d3hotuclm6if1r.cloudfront.net/logos/Blueshift-default.svg
                        mark: https://cdn.filepicker.io/api/file/Fqsz0q3QPujUyMACLPLr
                      options:
                      - name: apiKey
                        type: string
                        defaultValue: ""
                        description: Your API key can be found in Account Profile
                          > API Keys
                        required: true
                        label: API Key
                      - name: retarget
                        type: boolean
                        defaultValue: false
                        description: This will retarget page calls on the client-side
                        required: true
                        label: Retarget
                      status: PUBLIC
                      categories:
                      - SMS & Push Notifications
                      - Advertising
                      - Email Marketing
                      website: http://getblueshift.com/
                      components:
                      - code: https://github.com/segment-integrations/analytics.js-integration-blueshift
                        type: BROWSER
                      - code: https://github.com/segmentio/integrations/tree/master/integrations/blueshift
                        type: SERVER
                      previousNames:
                      - Blueshift
                      supportedMethods:
                        track: true
                        pageview: true
                        identify: true
                        group: false
                        alias: true
                      supportedPlatforms:
                        browser: true
                        mobile: true
                        server: true
                      supportedFeatures:
                        cloudModeInstances: "0"
                        deviceModeInstances: "0"
                        replay: false
                        browserUnbundling: false
                        browserUnbundlingPublic: true
                      actions: []
                      presets: []
                    sourceId: rh5BDZp6QDHvXFCkibm1pR
              schema:
                $ref: '#/components/schemas/createDestination_200_response'
            application/vnd.segment.v1beta+json:
              example:
                data:
                  destination:
                    id: 6307d786e53cc10ae7ad0d04
                    enabled: true
                    name: my destination beta
                    settings:
                      apiKey: ••••••••••
                      retarget: true
                    metadata:
                      id: 547610a5db31d978f14a5c4e
                      name: Blueshift
                      description: "Blueshift's predictive marketing automates behavioral\
                        \ messaging on email, push notifications, display, Facebook\
                        \ and more"
                      slug: blueshift
                      logos:
                        default: https://d3hotuclm6if1r.cloudfront.net/logos/Blueshift-default.svg
                        mark: https://cdn.filepicker.io/api/file/Fqsz0q3QPujUyMACLPLr
                      options:
                      - name: apiKey
                        type: string
                        defaultValue: ""
                        description: Your API key can be found in Account Profile
                          > API Keys
                        required: true
                        label: API Key
                      - name: retarget
                        type: boolean
                        defaultValue: false
                        description: This will retarget page calls on the client-side
                        required: true
                        label: Retarget
                      status: PUBLIC
                      categories:
                      - SMS & Push Notifications
                      - Advertising
                      - Email Marketing
                      website: http://getblueshift.com/
                      components:
                      - code: https://github.com/segment-integrations/analytics.js-integration-blueshift
                        type: BROWSER
                      - code: https://github.com/segmentio/integrations/tree/master/integrations/blueshift
                        type: SERVER
                      previousNames:
                      - Blueshift
                      supportedMethods:
                        track: true
                        pageview: true
                        identify: true
                        group: false
[...]
